<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>355613544936-ilqac26he0hatpf5mebvj7iqh00s9fm8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.355613544936-ilqac26he0hatpf5mebvj7iqh00s9fm8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>355613544936-hs0mppato0ifaejvmrbs1308db3332b4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCX9iIpllWxe08Xr2mQM1d-v5SfVHFxvBw</string>
	<key>GCM_SENDER_ID</key>
	<string>355613544936</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app</string>
	<key>PROJECT_ID</key>
	<string>weatherapp-2b7d3</string>
	<key>STORAGE_BUCKET</key>
	<string>weatherapp-2b7d3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:355613544936:ios:cb6f125c9c8268309b945d</string>
</dict>
</plist>